* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: elliot, Arial, sans-serif;
    font-size: 16px;
    color: #1D1D1D;
    overflow-wrap: break-word;
}

.conteiner {
    max-width: 100%;
    min-width: 320px;
}


.wrap {
    width: 100%; 
    max-width: 1130px; 
    min-width: 290px;
    margin : 0 auto;   
    display: block;
} 
