@import url("fonts.css");
@import url("core.css");
@import url("blocks/header.css");
@import url("blocks/logo.css");  
@import url("blocks/menu.css");  
@import url("blocks/content.css"); 
@import url("blocks/services.css"); 
@import url("blocks/solutions.css"); 
@import url("blocks/offices.css"); 
@import url("blocks/footer.css"); 


/* 

* {
	box-sizing: border-box;
}

a { 
    text-decoration: none;
    display: block;

}

ul  {
    list-style-type: none;
    text-decoration: none; 
    margin: 0;
    padding: 0;
}

li {
    display: block;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;

}

section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    
}

body	{
	max-width: 100%;
	width: auto;
    height: auto;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0 auto;
    padding: 0;
}

header {
    max-width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header_logo {
    margin: 0 105px;
    
}

.header_menu {
    /* list-style-type: none;
    text-decoration: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.header_menu li {
    /* display: block;
    list-style-type: none;
    text-decoration: none; 
    margin: 0 30px; 
}


.presentation {
    max-width: 100%;
    height: 530px;
    background-image: url(img/home-banner.jpg);
    background-size: cover;
	background-position: center;
}

.market_research {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 670px;
    background-color: lightgrey;
}

.reserch_table {
    display: block;
    width: 1140px;
    height: 375px;
    background-color: grey;
    
}

.services {
    align-items: center;
    height: 600px;


}

.services_list {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

}


.solutions {
    background-image: url(img/perfect-blind-img.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}


.offices {
    max-width: 100%;
    height: 1010px;
} */
