.services {
    display: flex;
    flex-direction: column;

    align-items: center;

}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;

}

.tab-title {
    display: block;
    padding: 0 30px 20px;
    margin: 0 10px;
    box-sizing: border-box;
    font-size: 20px;
    text-transform: uppercase;
    color: #444546;
    position: relative;
    z-index: 5;
    border-bottom: 3px solid transparent;
}
    
.tab-title:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(195, 32, 39);

}


.active-tab {
    font-weight: 600;
    cursor: pointer;
    border-bottom: 3px solid rgb(195, 32, 39);
}

.tab-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%; 
    width: 100%;  
    height: auto;

}

.slide {
    display: flex;
    flex: 1 200px;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
    
}


.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #C32027;
    background-color: #fff;
    height: 330px;
    margin-right: 35px;
    
}



.content-card:hover {
    cursor: pointer;
}

.liquidity__content:last-child {
    margin-right: 0;
}

.content-card img {
    max-width: 90px;
    display: block;
    margin-bottom: 15px;
  
}

.content-card h6 {
    font-size: 18px;
    color: #454547;
    text-align: center;
    line-height: 1;
    font-family: elliot-bold;
    margin-bottom: 15px;
   
}

.content-card p {
    font-family: elliot-regular;
    font-size: 16px;
    color: #454547;
    text-align: center;
    line-height: 1;
}

.column-card {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    height: 330px;
    justify-content: space-between;
}

.liquidity-slide div {
    width: 335px;
}

.brokerage-slide div {
    width: 200px;
}

.blockchain-slide div {
    width: 260px;
}

.small-card {
    max-width: 100%;
    width: 260px;
    max-height: 160px;
    border: 2px solid #C32027;

}

.show {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}




/* .brokerage__content {
    width: 200px;
    height: 330px;
}  */


/* grid slide */
/* .grid-wrap {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: repeat(2, 160px);
    grid-column-gap: 35px;
    grid-row-gap: 15px;
    margin-top: 35px;
   }

.blockchain__content {
    grid-column: span 1;
    border: 2px solid #C32027;
    align-items: center;
    background-color: #fff;
}


.blockchain__content-small img {
    display: block;
    width: 65px;
    height: 60px;
    margin: 15px auto;
}

.blockchain__content-three {
    grid-column: 2/3;
    grid-row: 1/3;
    position: relative;
}

.blockchain__content-two {
    grid-column: 3/4;
    grid-row: 1/3;
    position: relative;
}

.blockchain__content-two img,
.blockchain__content-three img {
    display: block;    
    margin: 55px auto 20px;
}

.blockchain__content h6,
.blockchain__content-two h6,
.blockchain__content-three h6 {
    font-size: 18px;
    color: #454547;
    text-align: center;
    line-height: 1;
    font-family: elliot-bold;
    }

.blockchain__content p {
    font-size: 16px;
    color: #454547;
    text-align: center;
    line-height: 1;
    margin-top: 10px;
}

.blockchain__content-two p,
.blockchain__content-three p {
    font-size: 16px;
    color: #454547;
    text-align: center;
    line-height: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
} 

/* .hide {
    display: none;
} */ 

