footer {
  max-width: 100%;
  height: auto;
  background: url("../../img/footer-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

.footer__wrap {
  display: flex;
  flex-direction: row;
}

.footer__left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

footer h3 {
  font-family: elliot-medium;
  font-size: 27px;
  color: #fff;
  margin-bottom: 17px;
}

footer p {
  font-family: elliot-regular;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.4;
  text-align: justify;
}

.awards-list {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.awards-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 103px;
  justify-content: flex-start;
  text-align: center;
  margin-top: 15px;
}

.awards-list-item img {
  display: block;
}

.awards-list-item p {
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.social-media-list {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}

.social-media-item:last-child {
  margin-right: 0;
  padding-right: 0;
}

.social-media-item {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  width: auto;
}

.social-media-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.social-media-item img {
  width: 25px;
  height: 25px;
}

.aws-partner {
  font-size: 15px;
  line-height: 1.4;
}

.amazon-img {
  max-width: 100%;
  display: block;
  width: 218px;
  max-width: 218px;
  margin-top: 15px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 90px;
}

/* -------------------FORM------------------ */
form {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
label {
  color: #fff;
}

footer span {
  color: red;
}

form input {
  /* max-width: 100%; */
  width: 205px;
  height: 40px;
  margin: 10px 30px 0 0;
  background-color: #fff;
  font-size: 16px;
}

#last-name,
#other-contact,
#url {
  max-width: 100%;
  min-width: 225px;
  margin-right: 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

form label {
  font-family: helvetica;
  color: #fff;
  font-size: 14px;
}

form legend {
  font-family: helvetica;
  color: #e5e5e5;
  font-size: 11px;
}

.form-item-long {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-select {
  max-width: 100%;
  width: 460px;
  height: 40px;
  border-radius: 3px;
  background-color: #f5f8fa;
  padding: 9px 10px;
  margin: 10px 0 18px 0;
}

.form-select option,
.form-select option:disabled {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #33475b;
}

textarea {
  max-width: 100%;
  width: 460px;
  height: 40px;
  background-color: #fff;
  margin: 10px 0 18px 0;
}

.consent {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.consent-wrap {
  display: flex;
  flex-direction: column;
}
.consent-wrap p {
  font-family: helvetica;
  color: #e5e5e5;
  font-size: 14px;
  line-height: 24px;
}

.submit-button {
  max-width: 100%;
  width: 90px;
  height: 40px;
  color: #fafafa;
  background: #b12502;
  border-color: #b12502;
  font-size: 12px;
  font-family: helvetica;
  cursor: pointer;
  border-width: 0;
}

#agree {
  width: 13px;
  height: 13px;
  margin: 5px 5px 3px 0;
  background-color: #f5f8fa;
  cursor: pointer;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
  margin: 60px 0 60px;
}

.footer__bottom-left {
  max-width: 100%;
  width: auto;
  height: auto;
}

.footer__logo {
  max-width: 100%;
  width: 250px;
  height: auto;
  margin-right: 105px;
}

.footer__bottom-right {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
}

.footer__menu {
  /* max-width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: auto;
}

.footer__menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.footer__menu-link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: elliot-regular;
  line-height: 66px;
  cursor: pointer;
}

.private-policy {
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #ffffff4d;
}

.private-policy a {
  font-family: elliot-regular;
  font-size: 13px;
  color: #fff;
}

.copy-right {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 50px;
  background-color: #000;
}

.copy-right p {
  display: block;
  font-family: elliot-regular;
  font-size: 14px;
  color: #fff;
}
