header {
    background-color: #fff;
    width: 100%;
    
   

}

.header__wrap{
    width: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
 
}


.headhesive {
    width: 100%;
 position: fixed;
 transform: translateY(-100%);  
 transition: 0.5s;     
}

.headhesive--stick {
    transform: translateY(0); 
    box-shadow: -4px 1px 15px 0 #ccc; 
    z-index: 999;
}

