header {
    background-color: #fff;
    width: 100%;
}

.header__wrap{
    width: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
 
}

