.header_logo {
    margin-left: 100px;
    max-width: 200px;
}

.logo__link {
    display: block;   
    width: 200px;

}   

.logo__img {
    display: block;
    max-width: 100%;
}


@media screen and (min-width: 990px) and (max-width: 1125px) {
    .header_logo {
        max-width: 150px;
        margin: 0;
    }
}