.offices { 
    width: 100%;
    height: 1015px;
    display: flex;
    flex-direction: column;

}

.offices__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

.offices__content h3 {
    color: #000;
    font-family: elliot-medium;
    font-size: 27px;
    margin-top: 50px;
    margin-bottom: 17px;
    text-align: center;
}

.offices__content p {
    color: #1D1D1D;
    font-family: elliot-regular;
    font-size: 16px;
    text-align: center;
}

.offices__presents {
    width: 100%;
    display: flex;
    flex-direction: row;


}

.map {
    width: 70%;
    height: 100%;
    display: block;
    /* overflow: hidden; */
}


.map img {
    display: block;
    width: 100%;
}

.countries {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

label.name {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    background-color: #dbdcdc;
    width: 235px;
    height: 37px;
    margin-left: 7px;
    padding: 9px 0 0 15px;
    font-family: elliot-medium;
    font-size: 18px;
    
}

.country {
    opacity: 0.5;
    max-width: 300px;
    height: 108px;
    display: flex;
    flex-direction: column;
}

.label-wrap {
    display: flex;
    flex-direction: row;
    width: auto;   
    height: 37px;
}

.flag {
    width: 60px;
}


.details {
    font-family: elliot-regular;
    font-size: 15px;
    color: #1d1d1d;
    padding: 0 0 0 14px;
    border-left: 3px solid #C32027;
    margin-top: 12px;
    margin-top: 12px;
    /* transition: 1s;    */
    display: none;
    /* transform: translateY(30px); */
}