.offices { 
    width: 100%;
    height: 1015px;
    display: flex;
    flex-direction: column;

}

.offices__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offices__content h3 {
    color: #000;
    font-family: elliot-medium;
    font-size: 27px;
    margin-top: 50px;
    margin-bottom: 17px;
    text-align: center;
}

.offices__content p {
    color: #1D1D1D;
    font-family: elliot-regular;
    font-size: 16px;
    text-align: center;
}

.offices__presents {
    width: 100%;
    display: flex;
    flex-direction: row;


}

.map {
    width: 70%;
    height: 100%;
    display: block;
    /* overflow: hidden; */
}


.map img {
    display: block;
    width: 100%;
}

.countries {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label.name {
    color: #1D1D1D;
}

.country {
    opacity: 0.5;
}